.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 50%;
}
.listings {
  width: 50%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
